.location-card {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 10px;
} 

.location-title {
    margin-top: auto;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
    color: white;
    height: 52px;
    width: 250px;
    Left: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 17px;

}

.location-bgd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.linklocation {
    text-decoration: none;
    text-decoration-line: none;
}

@media (max-width: 375px) {
    .location-card {
        width: 335px;
        height: 250px;
    }

    .location-title {
        margin-top: auto;
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        color: white;
        height: 52px;
        width: 250px;
        Left: 20px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
    
    }
} 



