.slideshow_location {
    margin-top: 35px;
}

.slideshow_location img{
    border-radius: 30px;
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.location_subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-right: 100px;
    margin-bottom: 10px;
}

.main-container-tag {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 108px;
}

.main-container-accordion {
    display: flex;
    flex-direction: row; 
    margin-right: 108px;
}

.accordion-container {
    margin-right: -38px;
}

/* TITLE PAGE - LOCATION NAME*/

.title_locationpage {
    left: 6.94%;
    right: 48.96%;
    top: 55.96%;
    bottom: 39.06%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin-left: 108px;
}

/* SUBTITLE PAGE - LOCATION LOCALISATION*/

.subtitle_locationpage {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin-left: 108px;
    margin-top: -25px;
}


@media (max-width: 375px) {
/* TITLE PAGE - LOCATION NAME*/

    .location_header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .title_locationpage {
        font-size: 18px;
        margin-left: 20px;
    }

    .subtitle_locationpage {
        font-size: 14px;
        margin-left: 20px;
    }
    
    .main-container-accordion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        margin-right: 20px;
        margin-left: 20px;
    }
}

