.body_location_page {
    position: absolute;
    width: 1240px;
    height: 1095px;
    top: 171px;
}

.main-container-tag {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 108px;
}

.main-container-accordion {
    display: flex;
    flex-direction: row; 
}

