.body_location_page {
    position: absolute;
    width: 1240px;
    height: 1095px;
    top: 171px;
    width: 100%;
}

.location_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.main-container-tag {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 108px;
}

.main-container-accordion {
    display: flex;
    flex-direction: row; 
    margin-right: 108px;
}

.accordion-container {
    margin-right: -38px;
}

/* TITLE PAGE - LOCATION NAME*/

.title_locationpage {
    left: 6.94%;
    right: 48.96%;
    top: 55.96%;
    bottom: 39.06%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;

    margin-left: 108px;
}

/* SUBTITLE PAGE - LOCATION LOCALISATION*/

.subtitle_locationpage {
    /* left: 6.94%;
    right: 80.83%;
    top: 60.94%;
    bottom: 36.52%; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;

    margin-left: 108px;
    margin-top: -25px;
}


