/* GENERAL */
.navbar {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* LOGO */
.logo {
    margin-left: 108px;
}

.logo img {
    width: 170px;
}

/* MENU */

.list-menu {
    display: flex;
    flex-direction: row;
}

.navli {
    margin-right: 70px;
    text-align: right;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 142.6%;
    /* or 34px */
}

.navli :active {
    text-decoration-line: underline;
    color: #FF6060;
}

.nav {
    color: #FF6060;
    text-decoration: none;
    text-decoration-line: none;
}

/* PART 404 */

.nomatch h1 {
    /* 404 */

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 288px;
    line-height: 142.6%;
    /* or 411px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FF6060;
    margin-left: 432px;
}

.nomatch p {
    /* Oups! La page que vous demandez n'existe pas. */

    left: 20.49%;
    right: 18.96%;
    top: 59.18%;
    bottom: 35.84%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;

    margin-left: 295px;
    margin-top: 50px;
}