.App-location-card {
    display: flex;
    flex-wrap: wrap;
    Width: 1240px;
    Height: 829px;
    /*Radius: 25px;*/
    
    /* Background */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F7F7F7;
    border-radius: 25px;
}