.background {
    /* Background */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F7F7F7;
    border-radius: 25px;
    Width: 1240px;
    Height: 829px;
    /* Radius: 25px; */
}

App-location-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}