.background {
    /* Background */
    position: absolute;
    left: 7%;
    right: 0%;
    top: 20%;
    bottom: 0%;

    background: #F7F7F7;
    border-radius: 25px;
    Width: 1240px;
    Height: 829px;
    /* Radius: 25px; */
}

.location-card {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

