.body-about {
    margin-top: 70px;
}


.container {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 4%;
}

/* STYLE - IMG HEADER ABOUT PAGE */

.title_img img {
    /* position: relative;  */
    z-index: -1;
    object-fit: cover;
    border-radius: 25px;
    width: 141%;
}
 
.background_title {
    width: 90%;
    /* height: 223px; */
    margin-bottom: 48px;
    mix-blend-mode: darken;
    opacity: 0.5;
    border-radius: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 195px;

}

.bgd {
    position: absolute;
    width: 90%;
    height: 100%;
    /* left: 0;
    top: 0; */
    margin: auto;
    background: rgba(0,0,0,.5);
    z-index: 2;
    border-radius: 25px;
}

@media (max-width: 375px) {

    /* .body {
        width: 375px;
    } */
}