.footer {   
position: relative;
width: 1440px;
height: 209px;
background: #000000; 
Top: 3333px;
}

.footer img {
    margin-top: 66px;
    height: 39.44px;
    width: 122px;
    margin-left: 659px;
}

.footer p {
/* © 2020 Kasa. All rights reserved */
/* margin-left: 32.15%;
right: 32.22%;
top: 64.11%;
bottom: 13.88%; */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

text-align: center;

color: #FFFFFF;
}

@media (max-width: 375px) {
    .footer {
        position: relative;
        width: 375px;
        height: 209px;  
        Top: 6333px;      
    }

    .footer img {
        margin-top: 40px;
        height: 39.44px;
        width: 100px;
    }

}