.footer {   
position: relative;
width: 1440px;
height: 209px;
background: #000000; 
Top: 4333px;
}

.footer p {
/* © 2020 Kasa. All rights reserved */
position: absolute;
left: 32.15%;
right: 32.22%;
top: 64.11%;
bottom: 13.88%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
}

@media (max-width: 800px) {
    .footer {
        position: relative;
        width: 100%;
        background: #000000;
    }
}