.footer {   
position: relative;
width: 1440px;
height: 209px;
background: #000000; 
Top: 3333px;
}

.footer img {
    margin-top: 66px;
    height: 39.44px;
    width: 122px;
    margin-left: 659px;
}

.footer p {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 142.6%;
text-align: center;
color: #FFFFFF;
}


@media (max-width: 375px) {
    .footer {
        width: 375px;
        height: 209px;
    }  

    .footer img {
        height: 39.44px;
        width: 50px;
        margin-top: 100px;
    }
}

