/* BODY HOME PAGE */

.body {
    position: absolute;
    width: 1240px;
    height: 1095px;
    left: 100px;
    top: 171px;
}

/* STYLE - IMG HEADER HOME PAGE */

.title_img {
    /* position: absolute; */
    width: 1278px;
    height: 1933px;
    left: 100px;
    top: -573px;
    border-radius: 25px;
}
 
.background_title {
    /* Background */
    /* position: relative; */
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;
    /* margin-left: 100px; */
    margin-bottom: 48px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.9;
    border-radius: 25px;
    display: flex;

}

.title_img img {
    border-radius: 25px;
    position: absolute;
}

.title_home {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 142.6%;
    /* or 68px */
    left: 20%;
    right: 20%;
    top: 3%;
    color: #FFFFFF; 
}

/* BACKGROUND LOCATIONCARD - HOME PAGE */
.background {
    height: 2848px;
    width: 1240px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* margin-left: 100px; */

    background: #F7F7F7;
    border-radius: 25px;
}

.location-card-info {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 375px) {

    .body {
        position: absolute;
        width: 350px;
        height: 100%;
    }

    .background_title {
        width: 335px;
        height: 111px;
        left: 20px;
        top: 83px;
        border-radius: 10px;
    }

    .title_img {
        /* position: absolute; */
        width: 350px;
    }
    
    .title_img img{
        border-radius: 10px;
        position: absolute;
        width: 335px;
        height: 111px;
    }

    .title_home {
        position: absolute;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 142.6%;
        margin-left: -220px;
        margin-bottom: 110px;
    }

    .background {
        height: 100%;
        width: 350px;
        /* margin-left: 100px; */
        background: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
